// Always remember to import your colors or use the root colors
// @use '../../../../styles/colors.scss';
// @use '../../../../styles/borders';
// @use '../../../../styles/fonts';

// Remove default focus outline
.leaf-input:focus {
  outline: none;
}

// Input status variations
.leaf-input-default {
  background-color: var(--gray-50);
  color: var(--gray-500);
  &::placeholder {
    color: var(--gray-300);
  }
}
.leaf-input-focus {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid var(--primary-500) !important;
  box-shadow: 0px 4px 4px 0px #1c64f21a;
}
.leaf-input-error {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid var(--red-500) !important;
  box-shadow: 0px 4px 4px 0px #1c64f21a;
}
.leaf-input-lock {
  color: var(--gray-500);
  background-color: var(--gray-200) !important;
}
