<!-- Input status for SHO Management System -->

<div class="temporal-input-container">
  <form [formGroup]="formGroup">
    <!-- Default Data -->
    <lf-input>
      <label slot="label">Default Data</label>
      <input
        slot="input"
        leaf-input
        placeholder="placeholder"
        formControlName="default"
      />
    </lf-input>

    <!-- Focus Edit -->
    <lf-input>
      <label slot="label">Focus Edit</label>
      <input slot="input" leaf-input formControlName="focus" />
    </lf-input>

    <!-- Field Error -->
    <lf-input>
      <label slot="label">Field Error</label>
      <input slot="input" leaf-input formControlName="error" />
    </lf-input>

    <!-- Lock / No Edit  -->
    <lf-input>
      <label slot="label">Lock / No Edit</label>
      <input slot="input" leaf-input formControlName="lock" />
    </lf-input>
  </form>
</div>
