<!-- Input status for SHO Management System -->

<form [formGroup]="formGroup">
  <div class="temporal-input-container">
    <!-- Default Data -->
    <leaf-input>
      <label slot="label">Default Data</label>
      <input
        slot="input"
        leaf-input
        placeholder="placeholder"
        formControlName="default"
      />
    </leaf-input>

    <!-- Focus Edit | Field Error -->
    <leaf-input>
      <label slot="label">Focus Edit | Field Error (max. 8)</label>
      <input slot="input" leaf-input formControlName="focus_error" />
    </leaf-input>

    <!-- Lock / No Edit  -->
    <leaf-input>
      <label slot="label">Lock / No Edit</label>
      <input slot="input" leaf-input formControlName="lock" />
    </leaf-input>
  </div>
</form>
