/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

body {
  * {
    font-family: "Inter";
  }
}

.temporal-input-container {
  margin: auto;
  margin-top: 100px;
  width: 360px;
  box-shadow: 0 1px 2px -1px #605f5f65;
  box-shadow: 0 1px 3px 1px #605f5f65;
  padding: 20px;
  border-radius: 8px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.leaf-input-container {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.leaf__input {
  width: 100%;
}

.leaf-input__label {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: var(--gray-900, #111928);
}

.leaf-input {
  height: 36px;
  border-radius: 8px;
  border: 1px solid var(--gray-300, #d1d5db);
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 0 16px;
}
